img{
    width: 15px;
}

.card-img-top{
    width: 100px;
}

img:hover{
    transform: scale(0.95);

}

.collapse{
    transform: scale(0.95);
}

.card-img-top{
    /* animation-duration: 3s; */
    transform-origin: 10px 10px;
    /* animation-name: slidein; */
}

@keyframes slidein {
    from {
      /* margin-left: 100%; */
      display: none;
    }
  
    to {
      /* margin-left: 0%; */
      /* width: 100%; */
      display: contents;
    }
  }

h4{
    color: rgb(0, 153, 255);
}

.identite{
    border-radius: 25% 10%;
    width: 75%;
    animation-duration: 10s;
    animation-name: slidein2;
}

@keyframes slidein2 {
    from {
        margin-left: 100%;
        opacity: 0;
    }
  
    50%{
        margin-left: 0%;
        opacity: 0.4
    }

    75%{
        opacity: 0.8
    }
    
    to {
        opacity: 1;
    }
}

.contact{
    animation-duration: 6s;
    animation-name: slidein3;
}

@keyframes slidein3 {
    from {
      opacity: 0;
    }
    
    to {
      opacity: 1;
    }
}

.carousel{
    width: 100px;
}

.d-block{
    width: 30px;
}